<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}fiitobalance{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/mobile.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/resources/favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
</head>
<body>
{% block header %}
<h3 class="{% block label_style %}{% endblock %} label">fiitobalance</h3>
{% endblock %}

<div class="centered-container">
    {% block content %}{% endblock %}
</div>

{% block scripts %}
{% endblock %}
</body>
</html>