{% extends "base.html" %}

{% block title %}Login - fiitobalance{% endblock %}

{% block content %}

<input class="input_field_1 jomhuria-regular"
       type="text"
       placeholder="login"
       id="login">
<input class="input_field_1 jomhuria-regular"
       type="password"
       placeholder="password"
       id="password">
<div class="error-message hidden" id="error-message"></div>
<button class="sign_up_button" id="login-btn">sign in</button>
<p class="no_account">No account yet? <a href="{{ url_for('register') }}">Sign up!</a></p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/scripts/login.js') }}"></script>
{% endblock %}