{% extends "base.html" %}

{% block title %}Register - fiitobalance{% endblock %}

{% block label_style %}label_gap_login{% endblock %}

{% block content %}

<input class="input_field_1 jomhuria-regular"
       type="text"
       placeholder="Логин"
       id="login">
<input class="input_field_1 jomhuria-regular"
       type="password"
       placeholder="Пароль"
       id="password">
<input class="input_field_1 jomhuria-regular"
       type="password"
       placeholder="Повторите пароль"
       id="password-confirm">
<div class="error-message hidden" id="error-message"></div>
<button class="sign_up_button" id="register-btn">Зарегистрироваться</button>
<p class="no_account">Уже есть аккаунт?<a href="/login">Войди!</a></p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/scripts/login.js') }}"></script>
{% endblock %}