{% extends "base.html" %}

{% block title %}Schedule - fiitobalance{% endblock %}

{% block content %}
<h3 class="label">fiitobalance</h3>
<div class="centered-container">
    <div class="dates_tape margin-bottom-10pt">
        <p class="tape_date"><a href="/">4th Of March</a></p>
        <img class="tape_date" src="{{ url_for('static', path='/resources/Arrow 2.svg') }}" alt="SVG Image">
        <p class="tape_date">{{ current_date }}</p>
        <img class="tape_date" src="{{ url_for('static', path='/resources/Arrow 1.svg') }}" alt="SVG Image">
        <p class="tape_date"><a href="/">6th Of March</a></p>
    </div>
    <input type="range" id="balance-scales" class="balance-scales" name="volume" min="0" max="450" disabled/>

    <div id="work-list-block" class="plans-block margin-bottom-30pt">
        <div class="plans-add-block">
            <h2>Plans:</h2>
            <img class="task-plus" src="../static/resources/plus.svg" alt="plus">
        </div>
        <div class="task-list">
            <div class="task-note hidden task-entry-samlpe">
                <img class="task-circle" src="../static/resources/Ellipse 1.svg" alt="plus">
                <p class="task-label">working</p>
                <p class="task-difficulty">9</p>
                <p class="task-deadline"></p>
            </div>
        </div>
    </div>

    <div id="rest-list-block" class="plans-block margin-bottom-30pt">
        <div class="plans-add-block">
            <h2>Rests:</h2>
            <img class="task-plus" src="../static/resources/rest plus.svg" alt="plus">
        </div>
        <div class="task-list">
            <div class="task-note hidden task-entry-samlpe">
                <img class="task-circle" src="../static/resources/Ellipse 1.svg" alt="plus">
                <p class="task-label">working</p>
                <p class="task-difficulty">9</p>
                <p class="task-deadline"></p>
            </div>
        </div>
    </div>

    <div class="overlay-background hidden" id="task-add-block">
        <div class="add-task-card" id="task-add-card">
            <input class="input_field_1 jomhuria-regular difficulty-input-border-width task-label-input" id="task-title-input" type="text" placeholder="task name">
            <textarea class="input_field_2 jomhuria-regular difficulty-input-border-width" type="text" placeholder="description" id="task-description-area"></textarea>
            <input type="date"
                   class="input_field_1 jomhuria-regular difficulty-input-border-width"
                   id="task-deadline-input"
                   required
                   min="<?= date('Y-m-d') ?>">
            <div class="difficulty-block">
                <div class="difficulty-buttons">
                    <img class="dif-plus" src="../static/resources/difficulty plus.svg" alt="plus">
                    <img class="dif-plus" src="../static/resources/difficulty minus.svg" alt="plus">
                </div>
                <div class="difficulty-label-block">
                    <p class="difficulty-label">difficulty</p>
                    <p class="difficulty-counter-label">5/10</p>
                </div>
            </div>
            <button class="sign_up_button" id="add-task-final-button">add task</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/scripts/schedule.js') }}"></script>
{% endblock %}
