{% extends "base.html" %}

{% block title %}Week's stats - fiitobalance{% endblock %}

{% block content %}
<div class="header-container">
    <button class="logout-button">Выйти</button>
</div>

<div class="centered-container geologica-regular">
    <div class="week-stats-container">
        <div class="week-header">
            <h2 id="week-range" class="geologica-regular week-range">{{ week_start }} - {{ week_end }}</h2>
        </div>
        <p class="no_account"><a href="/schedule" id="schedule">Вернуться к расписанию</a></p>
        <div class="geologica-regular balance-container">
            <div class="balance-labels">
                <span class="balance-label-left">🔥Старайтесь побольше отдыхать</span>
                <span class="balance-label-right">🌴</span>
            </div>
            <input type="range" id="balance-scales-week" class="balance-scales" name="volume" min="0" max="450" disabled/>
        </div>

        <!-- Weekly statistics -->
        <div class="week-stats">
            <p id="busiest-day" class="stat-item"><strong>Самый напряженный день:</strong> {{ busiest_day }}</p>
            <p id="avg-workload" class="stat-item"><strong>Средняя рабочая нагрузка:</strong> {{ avg_workload }}/10</p>
            <p id="avg-rest" class="stat-item"><strong>Средний уровень отдыха:</strong> {{ avg_rest }}/10</p>
        </div>

        <!-- Daily balance scales -->
        <div class="daily-scales">
            {% for day in [("Понедельник", "Monday"), ("Вторник", "Tuesday"), ("Среда", "Wednesday"), ("Четверг", "Thursday"), ("Пятница", "Friday"), ("Суббота", "Saturday"), ("Воскресенье", "Sunday")] %}
            <div class="day-scale">
                <div class="day-label"><strong>{{ day[0] }}</strong></div>
                <input type="range" id="balance-scales-{{ day[1].lower() }}" class="balance-scales" name="volume" min="0" max="450" disabled/>
                <div class="day-label-right"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/scripts/logout.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/scripts/weekStat.js') }}"></script>
{% endblock %}
