#next-step-btn{
    display: none;
}

html, body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }

    #next-step-btn{
        display: block;
        flex: none;
        align-self: stretch;
    }
    #task-add-content > *{
        width: 230pt;
    }
    #task-add-content{
        flex: auto;
        display: flex;
        padding: 20px;
        text-align: center;
        flex-direction: column;
        align-items: stretch;
    }
    .input_field_1, .input_field_2{
        width: 90vw;
        font-size: 30px;
        color: black;
    }
    .centered-container{
        touch-action: manipulation;
        width: 100vw;
        align-items: center;
        overflow: hidden;
        padding: 0;
    }
    .sign_up_button, .no_account{
        align-self: center;
        color:black;
        margin: 10px auto;
        font-size: 16pt;
        text-align: center;
        width: 90%;
        display: block;
    }
    #task-add-block{
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-end;
    }

    .task-edit-buttons-box{
        align-self: center;
    }
    .task-label-input{
        margin-top: 5pt;
    }
    .add-task-card{
        align-items: center;
        padding: 0;
        width: 100vw;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
    }

    .dates_tape_pc {
        display: none;
    }

    .dates_tape_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dates_tape_mobile .date-link {
        text-decoration: underline;
    }

    .tape_date {
        margin: 0 5px;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 450;
        text-decoration: underline;
    }

    .dates_tape_switch {
        margin-top: 15px;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        display: flex;
    }

    .central-date {
        width: 200px;
        padding-bottom: 8pt;
        padding-left: 15px;
        font-size: 1.7rem;
        font-weight: 450;
    }

    .tape_arrow {
        padding-top: 5px;
    }

    .plans-add-block > .task-plus {
        display: none;
    }

    .task-rest-add-block > .task-plus {
        width: 50px;
        margin-bottom: 3px;
    }

    .plans-block {
        margin: 0;
        padding-top: 10pt;
        flex-direction: column;
        align-items: stretch;
    }

    .day-scale {
        width: 100vw;
        margin-bottom: 10px;
    }

    .balance-container {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .plans-add-block {
        margin-right: 0;
        margin-bottom: 10px;
        align-items: center;
    }

    .plans-add-block h2 {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }

    .task-plus {
        width: 35pt;
    }

    .task-list {
        width: 90vw;
    }

    .task-note {
        width: 100%;
        font-size: 0.9rem;
        margin: 5px 0;
        padding: 0 3px;
        border: 1.9pt solid black;
        background-color: #F0334C;
    }

    .task-rest-add-block {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 7px;
        right: 0;
        bottom: 0;
    }

    .relax-note {
        background-color: var(--relax-task-color);
    }

    .task-label {
        margin-top: 6px;
        font-size: 1.3rem;
    }

    .task-difficulty {
        margin-top: 6px;
        font-size: 1.3rem;
    }

    .task-circle {
        height: 16pt;
        margin: 0 5px;
    }

    .task-edit-buttons-box {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-container{
        margin-bottom: 20px;
    }
    .logout-button{
        display: none;
    }

    .week-stats-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .week-stats {
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 30px;
    }


    .daily-scales {
        margin-top: 25px;
    }

    .day-label {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .balance-scales {
        width: 94%;
        height: 40px;
        margin: 10px 0 15px 0;
        border-radius: 20px;
    }

    .label {
        margin-top: 25px;
        margin-bottom: 5px;
        font-size: 50px;
    }

    .no_account a {
        text-decoration: underline;
        font-size: 2rem;
    }

    .week-header {
        text-align: center;
        margin-bottom: 0;
        font-size: 20px;
    }

    .scales-icon {
        display: none;
    }

    .scales-div {
        width: 100vw;
    }
}