:root {
    --disabled-color: #686868;
}

.label {
    font-family: 'jsMath-cmbx10', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30pt;
}

.label_gap_login {
    margin-bottom: 100pt;
}

.input_field_1{
    border: 2pt solid black;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 5pt;
    font-size: 40pt;
    width: 300pt;
    font-family: 'Jomhuria', sans-serif;
    margin: 10pt;
    text-align: center;
}

.input_field_1::placeholder{
    color: var(--disabled-color);
}

.sign_up_button {
    border: 2pt solid black;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5pt;
    font-size: 20pt;
    font-family: 'Inika', serif;
    font-weight: bold;
    margin: 10pt;
    text-align: center;
    width: 150pt;
    flex: 0 0 auto; 
    background-color: white;
}

.sign_up_button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.centered-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}
  