:root {
    --disabled-color: #686868;
    --relax-task-color: #34C59B;
}

.label {
    font-family: 'jsMath-cmbx10', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30pt;
}

.label_gap_login {
    margin-bottom: 100pt;
}

.input_field_1{
    border: 2pt solid black;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 5pt;
    font-size: 40pt;
    width: 300pt;
    font-family: 'Jomhuria', sans-serif;
    margin: 5pt;
    text-align: center;
}

.input_field_1::placeholder{
    color: var(--disabled-color);
}

.sign_up_button {
    border: 2pt solid black;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5pt;
    font-size: 20pt;
    font-family: 'Inika', serif;
    font-weight: bold;
    margin: 30pt;
    margin-bottom: 15pt;
    text-align: center;
    width: 125pt;
    flex: 0 0 auto; 
    background-color: white;
}

.sign_up_button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.centered-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

.no_account {
    font-size: 15pt;
    font-family: "Inika", serif;
}

.dates_tape {
    display: flex;
    align-items: center;
}

.tape_date {
    font-family: 'Inika', serif;
    font-size: 20pt;
    margin: 20pt;
    margin-top: 0pt;
    font-weight: bold;
}

.margin-bottom-10pt {
    margin-bottom: 10pt;
}

.margin-bottom-30pt {
    margin-bottom: 30pt;
}

.plans-block {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.plans-add-block {
    display: flex;
    flex-direction: column;
    font-family: 'jsMath-cmbx10', sans-serif;
    font-size: 15pt;
    align-items: center;
    margin-right: 30pt;
}

.plans-add-block > h2 {
    margin-top: 1pt;
}


.task-plus {
    width: 50pt;
    cursor: pointer;
}

.task-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-note {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    font-family: 'Jomhuria', serif;
    font-size: 30pt;
    border: 2pt solid black;
    margin: 10pt;
    margin-top: 0pt;
    width: 350pt;
    color: white;
    padding: 5pt;
    padding-top: 0;
    background-color: #646464;
}

.task-label {
    margin: 0;
    flex-grow: 1;
    height: 27pt;
}

.task-difficulty {
    margin: 0;
    font-family: 'Jomhuria', serif;
    height: 27pt;
}

.task-circle {
    margin-right: 7pt;
    height: 20pt;
}

.relax-note {
    background-color: var(--relax-task-color);
}